[core]
    sshCommand = ssh -i ~/.ssh/id_rsa_work
[user]
	name = Peter Leconte
	email = peter.leconte@hatch.be
[init]
	defaultBranch = main
[includeIf "gitdir:~/projects/work/biontech/"]
    path = ~/.config/git/work/biontech/.gitconfig
[includeIf "gitdir:~/projects/work/haystack/"]
    path = ~/.config/git/work/haystack/.gitconfig
